SECRET_KEY=change-this-local-secret
MYSQL_HOST=mysql.railway.internal
MYSQL_USER=root
MYSQL_PASSWORD=GiNStuhaGOQinUoNhvHoYdHHiTTQaees
MYSQL_DATABASE=railway
MYSQL_PORT=3306
MODEL_PATH=app/ml/mobilenet.h5
FALLBACK_MODEL_PATH=
